oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v{{ oracle.version.split('-')[0] }}
INVENTORY_LOCATION={{ oracle.inventory }}
oracle.install.option=CRS_SWONLY
ORACLE_BASE={{ oracle.base }}
ORACLE_HOME={{ oracle.home }}
oracle.install.asm.OSDBA=asmdba
oracle.install.asm.OSOPER=asmoper
oracle.install.asm.OSASM=asmadmin
oracle.install.asm.storageOption=ASM
oracle.install.asm.diskGroup.name=DATA
oracle.install.asm.diskGroup.redundancy=EXTERNAL
oracle.install.asm.diskGroup.AUSize=4
oracle.install.asm.diskGroup.disks=/dev/asm-disk1
oracle.install.asm.diskGroup.diskDiscoveryString=/dev/asm*
oracle.install.asm.monitorPassword=MyAsmMonitorPassword
oracle.install.asm.SYSASMPassword=MyAsmSysPassword
oracle.install.asm.GIMRDataDG.name=MGMT
oracle.install.asm.GIMRDataDG.redundancy=EXTERNAL
oracle.install.asm.GIMRDataDG.AUSize=4
oracle.install.asm.GIMRDataDG.disks=/dev/asm-disk2
oracle.install.asm.GIMRDataDG.diskDiscoveryString=/dev/asm*
oracle.install.config.managementOption=NONE
oracle.install.config.omsPort=0
oracle.install.config.agentPort=0
oracle.install.crs.configureGIMRDataDG=true
oracle.install.crs.configureRHPS=false
oracle.install.crs.manageOCRFile=false
oracle.install.crs.rootconfig.action=ROOT
oracle.install.crs.rootconfig.autoConfigureClusterNodeVIP=false
oracle.install.asm.configureGIMRDataDG=true